{% extends "base.html" %}
{% block title %}Location Service by NWCC{% endblock %}
{%block head%}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/handsontable@latest/dist/handsontable.full.min.css">
<link rel="stylesheet" type="text/css" href="https://handsontable.com/static/css/main.css">
<script src="https://cdn.jsdelivr.net/npm/handsontable@latest/dist/handsontable.full.min.js"></script>
{%endblock%}


{% block header %}
<div class="container">
<h1>บริการแปลง ข้อมูล พิกัด</h1>
<p>แปลงข้อมูลพิกัด latitude,longitude เป็น ที่อยู่ ระดับตำบล และลุ่มน้ำ</p>
</div>
{% endblock %}

{%block body%}
<div class="container">
<div class="row">
	
	<div class="panel panel-default">
		<div class="panel-heading">Input</div>
		<div class="panel-body">
			<div id="hot"></div>
		</div>
	</div>
</div> <!--row-->
<div class="row">
	<button class="btn btn-primary btn-lg active" id='the_btn_go'>go</button>
	&nbsp;&nbsp;&nbsp;
	<div>
		<pre id="debug_console"></pre>
	</div>
</div> <!--row-->
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">Output</div>
		<div class="panel-body">
			<div id="hot2"></div>
		</div>
	</div>
</div> <!--row-->
</div><!--container--->

<footer class="text-right text-lg-start bg-light text-muted">
	version of code: v0.3 ,May 2021&nbsp;&nbsp;&nbsp;
</footer>
{%endblock%}

{%block footer%}
{{ super() }}
<script>
var dataObject = [
  {
    lat: 13.21514653,
    lng: 100.9627159,
  },
  {
    lat: 17.76624228,
    lng: 100.5660871,
  },
  {

    lat: 17.31862925,
    lng: 99.42379141,
  },
  {
    lat: 18.52328702,
    lng: 99.62494695,
  },
  {

    lat: 15.72157773,
    lng: 100.1975544,
  }
];


var hotElement = document.querySelector('#hot');
var hotElement2 = document.querySelector('#hot2');
var hotElementContainer = hotElement.parentNode;
var hotSettings = {
  data: dataObject,
  columns: [
    {
      data: 'lat',
	  type: 'numeric',
    },
    {
      data: 'lng',
      type: 'numeric'
    }
  ],
  stretchH: 'all',
  width: 300,
  autoWrapRow: true,
  height: 487,
  //maxRows: 22,
  rowHeaders: true,
  colHeaders: [
    'Latitude',
    'Longitude'
  ],
  language: 'en-US',
  copyPaste: true,
  licenseKey: 'non-commercial-and-evaluation',
};  //hotSettings

var res_hotSettings = {
	data: [],
  columns: [
    {
      data: 'lat',
	  type: 'numeric',
    },
    {
      data: 'lng',
      type: 'numeric'
    },
	{
	  data: 'region',
	  type: 'text'
	},
	{
	  data: 'NBASIN_T',
	  type: 'text'
	},
	{
	  data: 'Sub_BASIN_T',
	  type: 'text'
	},
	{
	  data: 'PROV_NAMT',
	  type: 'text'
	},
	{
	  data: 'AMP_NAMT',
	  type: 'text'
	},
	{
	  data: 'TAM_NAMT',
	  type: 'text'
	}
  ],
  stretchH: 'all',
  width: 900,
  autoWrapRow: true,
  height: 487,
  //maxRows: 22,
  rowHeaders: true,
  colHeaders: [
    'Latitude',
    'Longitude',
	'ภาค',
	'ลุ่มน้ำหลัก',
	'ลุ่มน้ำสาขา',
	'จังหวัด',
	'อำเภอ',
	 'ตำบล'
  ],
  language: 'en-US',
  copyPaste: true,
  licenseKey: 'non-commercial-and-evaluation',
};  //res_hotSettings

var hot = new Handsontable(hotElement, hotSettings);
var btn_go=document.getElementById("the_btn_go");
var debug_console=document.getElementById("debug_console");


//btn_go.onclick = function(){
getdat = function(){
	var json = hot.getData();
	//debug_console.innerText=JSON.stringify(json)
	debug_console.innerText= 'Waiting...'
	btn_go.disabled = true;
	
	fetch('/findaddress',{
		method: 'POST',
		headers: {
	    	'Content-Type': 'application/json',
	  	},
	  	body: JSON.stringify(json)
	}).then(response=> response.json())
	.then( function(data){
		//debug_console.innerText=JSON.stringify(data)
		//var geoObject = JSON.parse(data);
		var features = [];
		features = data.features;
		tbl=geo2array(features);
		//debug_console.innerText=JSON.stringify(features);
		debug_console.innerText= 'Finish';
		res_hotSettings.data = tbl;
		var hot2 = new Handsontable(hotElement2, res_hotSettings);
		btn_go.disabled = false;
	}
		
	)
}

var geo2array = function(features){
	var items = [];
	features.forEach(function(feature){
		item= {
			"lat":feature.properties.lat,
			"lng":feature.properties.lng,
			"region":feature.properties.region,
			"NBASIN_T":feature.properties.NBASIN_T,
			"Sub_BASIN_T": feature.properties.SB_NAME_T,
			"PROV_NAMT":feature.properties.PROV_NAMT,
			"AMP_NAMT":feature.properties.AMP_NAMT,
			"TAM_NAMT":feature.properties.TAM_NAMT,
		};
		items.push(item);
	}// function
	); // forEach
	return items;
}


Handsontable.dom.addEvent(btn_go, 'click', function() {
	getdat()
});  // btn_go onclick
</script>
{%endblock%}